.container {
    padding: 0 20px;
    background-color: whitesmoke;
    height: 40px;
    display: flex;
    align-items: center;
}

.container div {
    flex: 1;
    text-align: center;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: inherit;
    cursor: pointer;
}

.container div:hover {
    background-color: white;
    border-bottom: 1px solid #1b2ccc;
    a{
        color: #f76b00;
        font-size: large;
    }
}

.container div a {
    text-decoration: none;
    background-color: inherit;
    color: black;
}
.menuIcon{
    display: none;
    margin: 0 1rem;
    background-color: whitesmoke;
}
.menuIcon p{
    background-color: transparent;
}

@media (max-width: 950px) {

    .menuIcon {
        display: flex;
        gap: 10px;
        align-items: center;
    }

    .container {
        display: none;
        flex-direction: column;
        height: auto;
        padding: 0;
    }

    .container.show {
        display: flex;
    }

    .container div {
        width: 100%;
        height: 45px;
        border-bottom: 1px solid #ddd;
    }
}
.select{
    border: none;
    outline: none;
    background-color: transparent;
    text-decoration: none;
    color: black;
    font-size: medium;
    cursor: pointer;
    width: 100%;
    text-align: center;
}
.select option{
    background-color: whitesmoke;
    cursor: pointer;
}
.select:hover {
    background-color: white;
    color: #f76b00;
}
