.showAllContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

.btnHolder {
    margin: 20px 0;
    width: 200px;
    height: 50px;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

    background-color: rgba(247, 107, 0, 1);
    color: #fff;

    border-radius: 5px;
    cursor: pointer;

    transition: all 0.3s ease;
}
.btnHolder button {
    border: none;
    background: transparent;
    color: inherit;

    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease;
}

.btnHolder:hover {
    background-color: white;
    border: 1px solid rgba(247, 107, 0, 1);
    button{
        color: rgba(247, 107, 0, 1);
        font-size: 20px;
    }
    svg{
        fill: rgba(247, 107, 0, 1);
        font-size: 22px;
    }
}

.btnHolder svg {
    font-size: 18px;
    color: inherit;
    fill: rgba(247, 107, 0, 1);
    transition: all 0.3s ease;
}
