.main{
    justify-self: center;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
}
.wrapper div{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border: 1px solid gray;
    padding: 1rem;
    border-radius: 10px;
}
.wrapper{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.main div button{
    width: 8rem;
    height: 2.5rem;
    border: none;
    background-color: red;
    color: white;
    border-radius: 10px;
    cursor: pointer;
}
.main div button:hover{
    border: 1px solid red;
    background-color: white;
    color: red;
}
.wrapper div button{
    width:60%;
    align-self: center;
    height: 2rem;
    border: none;
    background-color: blue;
    color: white;
    border-radius: 10px;
    cursor: pointer;
}
.wrapper div button:hover{
    border: 1px solid blue;
    background-color: white;
    color: blue;
    border-radius: 10px;
}
