.trendingNow {
    font-family: "Poppins", sans-serif;
    font-size: xx-large;
    color: #02072c;
    text-align: center;
    margin-bottom: 1rem;
}
.main{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.content {
    flex: 1;
}