.container{
    display: flex;
    flex-direction: column;
    margin: 1rem;
    border: 1px solid #e0e0e0;
    width: 400px;
    height: 500px;
    border-radius: 10px;
}
.upperHalf {
    width: 100%;
    height: 250px;
    border-radius: 0.5rem;
}
.upperHalf img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}
.lowerHalf {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    position: relative;
    height: 250px;
}
.btn{
    height: 40px;
    width: 150px;
    position: absolute;
    bottom: 1.5rem;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(56, 93, 214, 1);
    border-radius: 5px;
    transition: all 0.3s ease;

}
.data{
    height: 150px;
}
.btn button{
    width: 100%;
    height: 100%;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    background: transparent;
    font-size: large;
    transition: all 0.3s ease;
}
.btn:hover{
    background: white;
    border: 1px solid rgba(56, 93, 214, 1);
    button{
        color: rgba(56, 93, 214, 1);
        font-size: larger;
    }
}
.productDesc {
    margin: 0.5rem 0;
    height: 70px;
    overflow: hidden;
}
.productTitle {
    overflow: hidden;
    font-size: 1.5rem;
    font-weight: 600;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.priceTag {
    font-size: small;
    font-style: italic;
    color: gray;
}
.priceTag span {
    font-weight: 600;
    font-size: large;
    color: black;
}

@media(max-width:768px) {
    .container{
        flex-direction: row;
        width: 500px;
        height: 250px;
    }
    .upperHalf {
        width: 40%;
        height: 100%;
        border-radius: 0.5rem;
    }
    .upperHalf img {
        border-radius: 10px 0 0 10px;
    }
    .lowerHalf{
        width: 60%;
    }
}
@media(max-width:626px){
    .container{
        width: 400px;
        height: 240px;
    }
    .lowerHalf{
        height: 100%;
    }
    .btn{
        height: 35px;
        width: 130px;
    }
}