.MainBox{
    justify-self: center;
    margin: 1rem;
}
.addButton{
    width: 8rem;
    height: 2rem;
    border: none;
    margin: 5px;
    background-color: blue;
    color: white;
    border-radius: 10px;
    cursor: pointer;
}
.addButton:hover{
    background-color: white;
    color: blue;
    border: 1px solid blue;
}

.wrapper {
    padding-left: 1rem;
    padding-right: 1rem;
    justify-self: center;
    overflow-x: auto;
    width: 100%;
    max-width: 100%;
}

.table{
    width: 80rem;
    min-width: 80rem;
    table-layout: fixed;
    border-collapse: collapse;
}
.MainBox th, .MainBox td{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.row{
    width: 100%;
}
.col1{
    width: 15rem;
}
.col2{
    width: 15rem;
}
.col3{
    width: 10rem;
}
.col4{
    width: 20rem;
}
.col5{
    width: 10rem;
}
.col6{
    width: 5rem;
}
.col7{
    width: 5rem;
}
.col1 input,
.col2 input,
.col3 input,
.col4 input,
.col5 input{
    width: 100%;
    border: none;
    padding: 3px;
}

.col6 ,
.col7 {
    text-align: center;
}
.col6 button,
.col7 button{
    border: 1px solid gray;
}
.MainBox{
    max-width: 100vw;
}