.container{
    margin: 10px;
}
.wrapper-container{
    position: relative;
    width: 90%;
    margin: 0 auto;
}
.wrapper{
    display: flex;
    aspect-ratio: 18/8;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    border-radius: 0.5rem;
    scrollbar-width: none;
    -ms-overflow-style: none;
    -webkit-overflow-scrolling: touch;
    touch-action: pan-x;
}
.wrapper::-webkit-scrollbar {
    display: none;
}
.wrapper img{
    flex: 1 0 100%;
    width: 100%;
    height: 100%;
    scroll-snap-align: start;
    object-fit: cover;
}
.navigator{
    display: flex;
    column-gap: 1rem;
    position: absolute;
    bottom: 1.25rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    background-color: transparent;
}
.navigator a{
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    background-color: #fff;
    opacity: 0.75;
    transition: opacity ease 250ms;
    cursor: pointer;
}
.navigator a:hover{
    opacity: 1;
}
.navigator a.active{
    opacity: 1;
}

@media(max-width:800px){
    .wrapper-container{
        width: 98%;
    }
}